@import "tailwindcss";
@import "tailwindcss-animated";

@font-face {
    font-family: manrope;
    src: url(./fonts/Manrope-VariableFont_wght.ttf);
}

@theme {
    --font-manrope: manrope, "sans-serif";
}

@layer base {

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        appearance: textfield;
    }
}