# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers de logs
*.log

# Fichiers d'environnement
.env
.env.*

# Cache pip
*.egg-info/
.eggs/
pip-wheel-metadata/
build/
dist/

# Fichiers systèmes
.DS_Store
Thumbs.db

# Dossiers et fichiers IDE
.vscode/
.idea/

# Fichiers Git
.git
.gitignore

# Fichiers ou dossiers spécifiques au frontend (si présent)
node_modules/
*.tsbuildinfo

# Dossiers statiques collectés
staticfiles/
media/

# Docker compose volumes temporaires
*.db
*.sqlite3
